/*
	Drop Down Selector
*/

.-splicejs-dropdown-selector {
	display:inline-block;
	padding-top:0.3em;
}

.-splicejs-dropdown-selector .selector {
  position: relative;
  display: inline-block;
  border: 1px solid #424242;
  padding: 0.3em;
  padding-left: 0.4em;


  /* creates room for the drop-down arrow*/
  padding-right: 25px;
  cursor: pointer;
  background: url('resources/splicejs.dropdown.selector/black/dropdownarrow.png') #767b86 no-repeat right 0px center;
}

.-splicejs-dropdown-selector .selector:hover {
	background-color:#8d94a2;
}

.-splicejs-dropdown-container {
    position: absolute;
	display: none;
    z-index:1000;
    -webkit-box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.41);
}

.selector.-sjs-dropdown-open {
    background-color:#464646;
    -webkit-box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.41);
    color:#fefefe;
    border:1px solid #464646;
}
.selector.-sjs-dropdown-open:hover {
    background-color:#464646;
}