.sjs-calendar {
	position:relative;
}
.sjs-calendar .days {
	color:#cecece;
	background-color: #323232;
}

.sjs-calendar .grid {
	color:#cecece;
}


.sjs-calendar .grid {
	width:100%;
	height:100%;
	border-collapse: collapse;
}
.sjs-calendar .grid tr.days td {
	height:auto;
	color:#ffffff;
	background-color: rgb(116, 116, 116);
}

.sjs-calendar .grid tr.controls td:hover {
	background:none;
}

.sjs-calendar .grid td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #494949;
  cursor: pointer;
}


.sjs-calendar .grid td:hover {
	background-color:#5E5D5D;
}

.sjs-calendar .grid td.this-month {
	background-color: #383838;
}

.sjs-calendar .grid td.this-month:hover {
	background-color:#5E5D5D;	
}


.sjs-calendar .grid td.today {
	background-color: #D3A800;
  	color: #ffffff;
}

.sjs-calendar .grid td.today:hover {
	background-color: #FDCA00;
  	color: #ffffff;
}

