@import 'button-light.css';
@import 'button-dark.css';

.sjs-button {
    display: inline-block;
	background-color: #1b88b8;
	color:#fefefe;
	border-radius:3px;
    padding: 0.3em 1em;
	cursor: pointer;
	transition: background 0.2s ease-in;

    text-align: center;

    user-select: none;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.sjs-button-disabled {
	display: inline-block;
	border: 1px solid #1b88b8;
	background:none;
	padding: 0.3em 1em;
	cursor: pointer;
}


.sjs-button:hover {
	background-color: #1CD0FA;
}

.-sjs-label {
    display:inline-block;
} 
