@import 'dropdown-light.css';
@import 'dropdown-dark.css';

/*
	Drop Down Selector
*/
.sjs-dropdown-selector {
	display:inline-block;
}

.sjs-dropdown-selector .selector {
  position: relative;
  display: inline-block;
  padding: 0.5em;
  padding-left: 1em;
  border:1px solid;
  /* creates room for the drop-down arrow*/
  padding-right: 25px;
  cursor: pointer;
}

.sjs-dropdown-container {
    position: absolute;
	display: none;
    z-index:1000;
 }

