@import 'listbox-light.css';
@import 'listbox-dark.css';

.sjs-listbox {
	position:relative;
}

.sjs-listbox-item {
	padding:5px;
	cursor:default;
	min-width: 3em;
	padding:0.5em;
	padding-left:1em;
	padding-right:1em;
}

.parent-fit {
	position: absolute;
	left:0; top:0; right:0; bottom:0;
	overflow: auto;
}
