.-splicejs-calendar .grid .controls .prev {
	position:absolute;
	background:url('../black/previous.gif');
	height:11px; width:11px;
	left:0px; top:50%;
	margin-top:-6px; margin-left:7px;
}

.-splicejs-calendar .grid .controls .next {
	position:absolute;
	background:url('../black/next.gif');
	height:11px; width:11px;
	right:0px; top:50%; 
	margin-top:-6px; margin-right: 7px;
}
